.App {
  text-align: center;
}

.form {
  background-color: rgb(212, 245, 245);
  height: 100vh;
  padding-left: 20px;
}

.button {
  margin: 2px;
}

.item {
  border: 1px solid gray;
  border-radius: 5px, 5px;
  background-color: honeydew;
  margin: 10px;
}
